<ng-container>
  <h2>Min side</h2>

  <p>Navn: Navn Navnesen</p>
  <p>Email: navn&#64;gmail.com</p>

  <div>
    <h3>Betalingskort:</h3>

    @if (activeCards().length > 0) {
      @for (card of activeCards(); track card.id) {
        <div class="card active">
          <div class="card-issuer">{{ card.issuer }}</div>
          <div class="card-number">**** **** **** {{ card.cardDetails.toString().slice(-4) }}</div>
          <div class="card-expiry">Utløper: {{ card.expiryDate }}</div>
        </div>
      }
    } @else {
      <ng-template>
        <p>Ingen betalingskort funnet.</p>
      </ng-template>
    }
  </div>

  <div>
    <button>Legg til nytt kort</button>
  </div>
</ng-container>
